.expence-detail__date {
    width: 100px;
    background-color: #c7c7c7;
    padding: 30px;
    line-height: 1.1;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}
.expence-detail__price {
    width: 100px;
    color: #000;
    font-size: 24px;
    font-weight: bold;
}
.expence-detail__title {
    font-size: 30px;
    text-transform: uppercase;
    padding: 0 30px;
    width: calc(100% - 400px);
}
.expence-detail {
    margin: 25px;
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
    width: 800px;
    max-width: 100%;
    justify-content: space-between;
}